* {
  box-sizing: border-box;
}

.bg-pizza {
  background-image: url(../images/backgroundpizza.jpg);
  height: 500px;
  background-size: 100%;
}

.big-pizza {
  background-image: url(../images/bigpizza.jpg);
  height: 500px;
  background-size: 100%;
}

.dessert {
  background-image: url(../images/desserts.png);
  padding: 20px;
  background-attachment: fixed;
}

.map {
  background-image: url(../images/map.jpg);
  background-attachment: fixed;
}

.post-card {
  background-color: white;
  padding: 20px;
  padding-top: 40px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-dessert {
  background-color: white;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.but {
  background-color: white;
  border-radius: 20px;
  border-color: black;
}
.but:hover {
  background-color: black;
  color: white;
}

.basket {
  background-color: white;
  opacity: 1;
  padding: 20px;
  padding-top: 20px;
  max-width: 200px;
  max-height: 100%;
  margin: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 15px;
  top: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.new-bask {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.scroll {
  overflow-x: hidden;
}

.karta {
  height: 500px;
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  padding-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  border-radius: 50%;
  top: 17px;
  right: 25px;
  width: 30px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-top: 10%;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 3px;
  background: black;
}

.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.del-item {
  background: transparent;
  position: relative;
  top: 8px;
  left: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.del-item:hover {
  opacity: 1;
}
.del-item:before,
.del-item:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  right: 2px;
  width: 10px;
  height: 2px;
  background: black;
}
.del-item:before {
  transform: rotate(45deg);
}
.del-item:after {
  transform: rotate(-45deg);
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

img.rot {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 10s linear 0s normal none infinite running rot;
  width: 40px;
  margin-right: 25px;
}

.mobile-menu {
  background-color: rgb(41, 39, 39);
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-style {
  height: 50px;
  margin: 0;
  padding-top: 10px;
  background-color: rgb(41, 39, 39);
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
}

.art-pizza-content {
  text-align: right;
  color: white;
  padding-top: 50px;
  padding-right: 25px;
}

.pizza-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 30px;
}

.contact-content {
  list-style-type: none;
  text-align: center;
  color: black;
}

.pad-bask {
  padding-left: 0.5rem !important;
  margin-bottom: 1rem !important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20%;
}

.img-card {
  display: flex;
  width: 100%;
}

.item {
  position: absolute;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.mobile-menu__item {
  float: left;
  margin-right: 60px;
  margin-left: 50px;
  list-style: none;
}

.mobile-menu__checkbox {
  display: none;
  visibility: hidden;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .basket {
    display: none;
  }

  .hide {
    visibility: visible;
  }

  .big-pizza {
    background-image: url(../images/bigpizza.jpg);
    height: 500px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-pizza {
    background-image: url(../images/backgroundpizza.jpg);
    height: 500px;
    background-size: unset;
  }

  .img-card {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .item {
    visibility: hidden;
  }

  .pizza-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .mobile-pizza-img {
    width: 100%;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    top: 0;
    background-color: rgb(41, 39, 39);
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: 0.4s;
  }
  .mobile-menu__icon::after,
  .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: 0.4s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
    background-color: black;
  }
  .mobile-menu__list {
    transition: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
  }
  .mobile-menu__item {
    float: unset;
    font-size: 26px;
    padding-bottom: 15px;
  }
  .mobile-menu__link {
    text-decoration: none;
    color: #fff;
  }
  .mobile-menu__checkbox {
    display: none;
    visibility: visible;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked
    ~ .mobile-menu__btn
    .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
